{% extends 'blog/default.html' %}

{% block meta_description %}Advertising, financial issues.{% endblock %}
{% block title %}{{domain|title}} - Information for advertisers{% endblock %}

{% block extrahead %}
{% endblock extrahead %}

{% block carousel %}
{# this is the change to set empty#}
{% endblock carousel %}

{% block socbuttons %}{% endblock %}

{% block content %}
<div class="advertiser">
    <dl>
        <dt><h1>Дайте себя найти! Реклама на схеме «BISHKEK. Scheme for tourists»</h1></dt>
        <dd>
            <p>
                <strong>«BISHKEK. Scheme for tourists»</strong> - одна из самых удобных схем Бишкека! Мы выпускаем наши схемы один раз в два месяца, бесплатно распространяем их по отелям, хостелам и местам, популярным у туристов! Наши плюсы – наибольшая информативность, удобный размер и только полезные рекламные материалы!
            </p>
            <p>
                <strong>«BISHKEK. Scheme for tourists»</strong> - это схема города Бишкек, формат издания в развернутом виде - А3, в сложении - А6.
                От других схем наш продукт отличает наибольший охват Бишкека (включая микрорайоны), а также высокая информативность.
                На нашей схеме указаны не только туристические объекты и направления к ним, но и: отели и хостелы, банки и банкоматы, схемы движения маршрутных такси, книжные магазины, АЗС, 6 музеев столицы, посольства разных стран, их адреса и контактные данные.
                <strong>«BISHKEK. Scheme for tourists»</strong> издается один раз в два месяца в количестве 6 000 экземпляров и распространяется бесплатно.
            </p>
            <p>
                Прежде чем приступить к созданию нашей схемы, мы провели опрос иностранных гостей, что помогло нам сделать наиболее полный с точки зрения информации, и удобный с точки зрения формата и применения, продукт, востребованный среди туристов. Формат схемы позволяет носить ее в кармане и всегда иметь под рукой.
            </p>
        </dd>

        <dt><h1>Расскажите о своем бизнесе! Реклама в журнале «Welcome!»</h1></dt>
        <dd>
            <p>
                <strong>Журнал «Wеlcomе!»</strong> - это уникальное издание на английском языке, которое уже оценили путешественники из самых разных стран. В издании описаны объекты, которые необходимы или могут быть интересны интуристу, включая развлечения и полезную информацию.
            </p>
            <p>
                <strong>«Welcome!»</strong> - информационный журнал, ориентированный преимущественно на гостей Кыргызской Республики. Издается один раз в год,  в количестве 9 000 экземпляров на английском языке. Выпуск журнала подготавливается к началу нового туристического сезона (июнь месяц). Журнал печатается на глянцевой бумаге формата А5. Распространяется бесплатно в местах, популярных у иностранных туристов и бизнесменов (аэропорт, гостевые дома, отели и др.).
            </p>
            На сегодняшний день «Welcome!» - единственный в своем роде журнал на территории Кыргызской Республики.
        </dd>

        <dt><h1>Реклама на сайте «KG-Guide»</h1></dt>
        <dd>
            <p>
                <strong>«KG-Guide»</strong> - наш особый продукт, основное его назначение - знакомить иностранных гостей с интересными и актуальными событиями и мероприятиями. Это – своего рода афиша для туристов и, одновременно с этим, он-лайн справочник, включающий в себя информацию о том, где можно остановиться в Бишкеке, какие рестораны и пабы посетить, и т.д.
            </p>
            <p>
                Мы считаем, что оказавшись в чужой стране в роли туриста всего на несколько дней (недель – в лучшем случае), очень важно быть в курсе интересных событий и публичных мероприятий, актуальных на время вашего пребывания.  Именно поэтому мы занялись разработкой и созданием ресурса, на котором гости нашей страны могут найти полезную для себя информацию.
            </p>
            <p>
            Для того, чтобы привлечь интересующую нас аудиторию, мы рассказали о нашем ресурсе в социальной сети <a href="https://www.facebook.com">Facebook.com</a> и в социальной сети, объединяющей путешественников со всего мира – <a href="https://www.couchsurfing.org/">Couchsurfing.org</a>. Также мы размещаем рекламу «KG-Guide» в поисковой системе <a href="http://www.google.com">“Google”</a> и <a href="http://www.yahoo.com">“Yahoo!”</a>, что обеспечивает нам выход в TOP при отклике на поисковые запросы пользователей.
            </p>
        </dd>
    </dl>
    <div class="note">*По вопросам размещения рекламы вы можете связаться с нами по мобильному телефону <br> 0555 714 867, а также по электронной почте {{FEEDBACK_MAIL}}</div>
</div>
{% endblock %}

{% block extrafooter %}
{% endblock extrafooter %}
