{% load projstatic from projectstatic %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta content="{% block meta_keywords %}Kyrgyzstan, events, catalog, hotels, hostels, bars, pubs, cafes,  coffee houses, tea houses, events, restaurants, ski bases, rent equipment, entertainments, tours{% endblock %}" name="keywords">
        <meta content="{% block meta_description %}Where to stay in Bishkek?
                                Calendar of events for tourists.
                                Cafes, restaurants, pubs and something else.
                                The information for the people who are going to research Kyrgyzstan.{% endblock %}" name="description">
        <title>{% block title %}{{domain|title}} - Actual events in Kyrgyzstan and catalog of interesting places.{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block extra_meta %}
        {% endblock %}

        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{% projstatic "js/main_ui.js" %}" type="text/javascript"></script>

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% projstatic "css/base.css" %}" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        {% block extrahead %}
        {% endblock %}
    </head>
    <body>
        {% block debug %}{% endblock debug %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 logo"><a href="{% url 'blog_home_page' %}"><div style="width:100%; height:100%"></div></a></div>
                <div class="col-md-6 logo2"><span>Where to stay in Bishkek?<br>
                        Calendar of events for tourists.<br>
                        Cafes, restaurants, pubs and something else.<br>
                        The information for the people who are going to research Kyrgyzstan.
                </span></div>
            </div>
            <div class="row">
                <div class="col-md-12 menu">
                    <div class="menu_links">
                    {% block menu %}
                    <a href="{% url 'contact_us_page' query_page='contact_us' %}">Contact us</a>
                    <a href="{% url 'advert_page' query_page='advert' %}">Рекламодателям</a>
                    {% endblock menu%}
                    </div>
                    <div class="menu_search">
                        {% block search %}
                        <input type="text" name="search_qs" id="search_qs">
                        <input type="image" id="search_bt" alt="Search button" src="{% projstatic "imgs/w870/searchbutton.png" %}">
                        {% endblock search%}
                    </div>
                </div>
            </div>
            <a id="ml_ms"></a>
            <div class="row">
                <div class="col-md-12 menu_navi" {% block highlight_navi %}{% endblock highlight_navi %}>
                    <div class="menu_navi_div navi_1">
                        <div class="menu_navi_pad" id="events">
                            <a href="{% url 'category_page' category='events' %}#ml_ms">
                                <img src="{% projstatic "imgs/w870/navi1.png" %}" onMouseOver="backgounding_on('#events','highlight_navi');" onMouseOut="backgounding_off('#events','highlight_navi');" alt="Events">
                            </a>
                        </div>
                    </div>
                    <div class="menu_navi_div navi_2">
                        <div class="menu_navi_pad" id="hotels">
                            <a href="{% url 'category_page' category='hotels' %}#ml_ms">
                                <img src="{% projstatic "imgs/w870/navi2.png" %}" onMouseOver="backgounding_on('#hotels','highlight_navi');" onMouseOut="backgounding_off('#hotels','highlight_navi');" alt="Hotels & Hostels">
                            </a>
                        </div>
                    </div>
                    <div class="menu_navi_div navi_3">
                        <div class="menu_navi_pad" id="restaurants">
                            <a href="{% url 'category_page' category='restaurants' %}#ml_ms">
                                <img src="{% projstatic "imgs/w870/navi3.png" %}" onMouseOver="backgounding_on('#restaurants','highlight_navi');" onMouseOut="backgounding_off('#restaurants','highlight_navi');" alt="Restaurants & cafes">
                            </a>
                        </div>
                    </div>
                    <div class="menu_navi_div navi_4">
                        <div class="menu_navi_pad" id="pubs">
                            <a href="{% url 'category_page' category='pubs' %}#ml_ms">
                                <img src="{% projstatic "imgs/w870/navi4.png" %}" onMouseOver="backgounding_on('#pubs','highlight_navi');" onMouseOut="backgounding_off('#pubs','highlight_navi');" alt="Pubs & bars">
                            </a>
                        </div>
                    </div>
                    <div class="menu_navi_div navi_5">
                        <div class="menu_navi_pad" id="coffees">
                            <a href="{% url 'category_page' category='coffees' %}#ml_ms">
                                <img src="{% projstatic "imgs/w870/navi5.png" %}" onMouseOver="backgounding_on('#coffees','highlight_navi');" onMouseOut="backgounding_off('#coffees','highlight_navi');" alt="Coffee & tea houses">
                            </a>
                        </div>
                    </div>
                    <div class="menu_navi_div navi_6">
                        <div class="menu_navi_pad" id="shops">
                            <a href="{% url 'category_page' category='shops' %}#ml_ms">
                                <img src="{% projstatic "imgs/w870/navi6.png" %}" onMouseOver="backgounding_on('#shops','highlight_navi');" onMouseOut="backgounding_off('#shops','highlight_navi');" alt="Sport shops & rent equipment">
                            </a>
                        </div>
                    </div>
                    <div class="menu_navi_div navi_7">
                        <div class="menu_navi_pad" id="skis">
                            <a href="{% url 'category_page' category='skis' %}#ml_ms">
                                <img src="{% projstatic "imgs/w870/navi7.png" %}" onMouseOver="backgounding_on('#skis','highlight_navi');" onMouseOut="backgounding_off('#skis','highlight_navi');" alt="Ski bases">
                            </a>
                        </div>
                    </div>
                    <div class="menu_navi_div navi_8">
                        <div class="menu_navi_pad" id="tours">
                            <a href="{% url 'category_page' category='tours' %}#ml_ms">
                                <img src="{% projstatic "imgs/w870/navi8.png" %}" onMouseOver="backgounding_on('#tours','highlight_navi');" onMouseOut="backgounding_off('#tours','highlight_navi');" alt="Tours">
                            </a>
                        </div>
                    </div>
                    <div class="menu_navi_div navi_9">
                        <div class="menu_navi_pad" id="entertainments">
                            <a href="{% url 'category_page' category='entertainments' %}#ml_ms">
                                <img src="{% projstatic "imgs/w870/navi9.png" %}" onMouseOver="backgounding_on('#entertainments','highlight_navi');" onMouseOut="backgounding_off('#entertainments','highlight_navi');" alt="Entertainments">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 content">
                    {% block carousel %}
                        <div class="carousel_block">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators carousel-indicators-switcher">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>
                        
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                        
                                    <div class="item active">
                                    <a href="{% url 'advert_page' query_page='advert' %}">
                                        <img src="{% projstatic "imgs/samples/tmp_bar_3_667.jpg" %}" alt="default link to advert"/>
                                    </a>
                                    </div>
                        
                                </div>
                        
                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    {% endblock %}
                    {% block contentmenu %}{% endblock %}
                    {% block socbuttons %}{% endblock %}
                    {% block content %}Empty page{% endblock %}
                </div>
                <div class="col-md-6 adverb">
                    {% block advp1 %}
                    <div class="adverb_plase_1">
                        <a href="{% url 'advert_page' query_page='advert' %}"><img class="img-rounded" alt="Default banner" src="{% projstatic "imgs/w870/defbanner1.png" %}"></a>
                    </div>
                    {% endblock %}
                    {% block advp2 %}
                    <div class="adverb_plase_2">
                        <a href="{% url 'advert_page' query_page='advert' %}"><img class="img-rounded" alt="Default banner" src="{% projstatic "imgs/w870/defbanner2.png" %}"></a>
                    </div>
                    {% endblock %}
                    {% block advp3 %}
                    <div class="adverb_plase_3">
                        <a href="{% url 'advert_page' query_page='advert' %}"><img class="img-rounded" alt="Default banner" src="{% projstatic "imgs/w870/defbanner3.png" %}"></a>
                    </div>
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="footer">
                        <div class="copyr">Copyright &copy; {% now "Y" %} - 2013</div>
                        <div class="mailto"><a href="mailto:support@kg-guide.com">Support - support@kg-guide.com</a></div>
                    </div>
                    <div class="sub_footer">
                        <script type="text/javascript" src="http://s51.sitemeter.com/js/counter.js?site=s51kgguidestat">
                        </script>
                    </div>
                </div>
            </div>
        </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47446928-1', 'kg-guide.com');
      ga('send', 'pageview');

    </script>
    {% block extrafooter %}
    {% endblock extrafooter %}
    </body>
</html>

