{% extends 'blog/default.html' %}

{% block extra_meta %}
{% if region and page %}
    <link rel="canonical" href="http://www.{{domain}}{% url 'category_region_page' category=category region=region %}"/>
{% elif region or page %}
    <link rel="canonical" href="http://www.{{domain}}{% url 'category_page' category=category %}"/>
{% else %}
    {#<META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">#}
{% endif %}
{% endblock %}

{% block meta_description %}{% if post_details %}{{ post_details.short_description }}{% else %}{% if region %}List of {{html_title_category}} in {{region|title}} city when will glad to see you.{% else %}Date information, contact information, addresses and phone numbers for {{html_title_category}} in Kyrgyzstan{% endif %}{% endif %}{% endblock %}

{% block title %}{% if post_details %}{{ post_details.title }} - in {{region|title}}.{% else %}{% if region %}{{region|title}} {{html_title_category}} - {{domain|title}}{% else %}{{html_title_category|title}} in Kyrgyzstan - {{domain|title}}{% endif %}{% if page %} : Page {{ page }}{% else %} : All{% endif %}{% endif %}{% endblock %}

{% block highlight_navi %}id="highlight_navi_{{ category }}"{% endblock highlight_navi %}

{% block carousel %}
{# this change set to empty #}
{% endblock carousel %}

{% block contentmenu %}
    <div class="category_regions_list">
       <div class="regions_list_links">
            <a class="{{ category }}{% if not region %}_active_link_through_breack{% endif %}" href="{% url 'category_page' category=category %}#ml_ms">All</a>
       </div>
       {% for stored_region in stored_regions_list %}
           <!-- Region title -->
           <div class="regions_list_links{% if forloop.last %} regions_list_links_last{% endif %}">
               <a class="{{ category }}{% if region == stored_region.title|lower %}_active_link_through_breack{% endif %}" href="{% url 'category_region_page' category=category region=stored_region.title|lower %}#ml_ms">{{ stored_region.title }}</a>
           </div>
        {% endfor %}
    </div>
{% endblock %}

{% block socbuttons %}{% endblock %}

