{% extends 'blog/default.html' %}

{% block meta_description %}Contact us, ask questions, leave feedback, etc...{% endblock %}
{% block title %}{{domain|title}} - Contact Us{% endblock %}

{% block extrahead %}
{% endblock extrahead %}

{% block carousel %}
{# this is the change to set empty#}
{% endblock carousel %}

{% block socbuttons %}{% endblock %}

{% block content %}
<h1>
    How to contact us ?
</h1>
<p>
    Dear guests! If you need an informational support you may contact us by e-mail: {{FEEDBACK_MAIL}} and we'll do our best to answer as soon as possible!
</p>
{% endblock %}

{% block extrafooter %}
{% endblock extrafooter %}
