{% extends 'blog/base.html' %}
{% load projstatic from projectstatic %}
{% load static from staticfiles %}
{% block extra_meta %}
    <META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
    <meta content="http://{{domain}}{% projstatic "imgs/samples/big_logo.jpg" %}" property="og:image"/>
    <meta name="thumbnail" content="http://{{domain}}{% projstatic "imgs/samples/big_logo.jpg" %}" />
    <!-- <PageMap>
    <DataObject type="thumbnail">
    <Attribute name="src" value="http://{{domain}}{% projstatic "imgs/w870/logo.png" %}"/>
        <Attribute name="width" value="308"/>
        <Attribute name="height" value="111"/>
    </DataObject>
    </PageMap> -->
{% endblock %}

{% block search %}
<script>                                    
  (function() {
    var cx = '002482764718694300650:bn9qjql-5pq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
{% endblock %}

{% block carousel %}
{% if main_carousel_banner %}
<div class="carousel_block">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators carousel-indicators-switcher">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

        {% for source_url in main_carousel_banner.get_source %}
            <div class="item {% if forloop.counter == 1 %}active{% endif %}">
            <a href="{{ main_carousel_banner.get_target_url }}#ml_ms">
                <img src="{{ source_url }}" alt="{{ main_carousel_banner.title }}"/>
            </a>
            </div> 
        {% empty %}
            <p> Empty @!..!@ </p>
        {% endfor %}

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block socbuttons %}
    <div class="socplug_main_page">
        <div class="google">
        <div class="g-plusone" data-size="medium"></div>
        <script type="text/javascript">
            window.___gcfg = {lang: 'en-GB'};
            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/platform.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>
        </div>
        <div class="facebook">
        <iframe id="facebookIframe" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2F{{ domain|urlencode:"" }}&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=1387862861473223" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
        </div>
    </div>
{% endblock %}

{% block content %}
{% include "blog/PostsList.html" %}
{% endblock %}

{% block advp1 %}
    {% if adverb_plase_1 %}
    <div class="adverb_plase_1">
        <a href="{{ adverb_plase_1.get_target_url }}#ml_ms"><img class="img-rounded" alt="{{adverb_plase_1}}" src="{{ adverb_plase_1.get_source.0 }}"></a>
    </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block advp2 %}
    {% if adverb_plase_2 %}
    <div class="adverb_plase_2">
        <a href="{{ adverb_plase_2.get_target_url }}#ml_ms"><img class="img-rounded" alt="{{adverb_plase_1}}" src="{{ adverb_plase_2.get_source.0 }}"></a>
    </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block advp3 %}
    {% if adverb_plase_3 %}
    <div class="adverb_plase_3">
        <a href="{{ adverb_plase_3.get_target_url }}#ml_ms"><img class="img-rounded" alt="{{adverb_plase_1}}" src="{{ adverb_plase_3.get_source.0 }}"></a>
    </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
