{% block extrahead %}
{% endblock extrahead %}

{% load texttrunc %}

<div class="category_title{% if category %}_big{% endif %}">
    <h1 class="{{ category }}">{% if category %}{{html_title_category}}{% else %}<a href="{% url 'category_page' category='events' %}">Events</a>{% endif %}</h1>
</div>

<div class="last_events_content">
    {% if posts_list %}
        {% if posts_pages %}
            <ul class="nav nav-tabs" id="myTab">
                <li {% if not page %}class="li_active"{% endif %}>
                    <a class="{{ category }}{% if not page %}_all_list_active_link_through_breack{% endif %}" 
                        href="{% if region %}{% url 'category_region_page' category=category region=region %}{% else %}{% url 'category_page' category=category %}{% endif %}#ml_ms">All</a>
                </li>

                {% for entry in posts_pages %}
                <li class="{% if forloop.counter = current_page %}li_active{% endif %}">
                    <a class="{{ category }}{% if forloop.counter = current_page %}_active_link_through_breack{% endif %}" 
                        href="{% if region %}{% url 'category_region_pages_page' category=category region=region page=entry %}{% else %}{% url 'category_pages_page' category=category page=entry %}{% endif %}#ml_ms">Page №-{{entry}}</a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="tab-content">
            {% if category == 'events' %}
                {# --- This section inplemetate the schema.org for events --- #}
                {% for object in posts_list %}
                <div class="last_events_list_item_{% cycle 'left' 'right' %}{% if forloop.revcounter0 < 2 %} last_events_list_item_last{% endif %}" title="{{ object.title|escape }}" itemscope itemtype="http://data-vocabulary.org/Event">
                    <a href="{{ object.get_absolute_url }}#ml_ms" title="{{ object.title|escape }}" itemprop="url">
                        <img class="img-thumbnail last_events_list_item_img" src="{{ object.get_title_photo.get_thumbnail_url }}" alt="{{html_title_category}} - {{ object.title|escape }}" itemprop="photo">
                    </a>
                    <div class="last_events_list_item_content">
                        <h2 itemprop="summary"><a class="{{ category }}" href="{{ object.get_absolute_url }}#ml_ms" title="{{ object.title|escape }}">{{ object.title|truncatechars:50 }}</a></h2>
                        <span itemprop="description">
                        {% autoescape off %}
                            {{ object.short_description|truncatehtml:150 }}
                        {% endautoescape %}
                        </span>
                    </div>
                    <div class="read_more"><a class="{{ category }}" href="{{ object.get_absolute_url }}#ml_ms"><span itemprop="startDate" datetime="{{ object.event_start_date|date:"c" }}">{{ object.event_start_date }}</span></a></div>
                    <span itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">
                    {% if object.place %}<meta itemprop="name" content="{{ object.place }}" />{% endif %}
                    <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                        {% if object.get_address %}<meta itemprop="street-address" content="{{ object.get_address }}"/>{% endif %}
                        <meta itemprop="locality" content="{{ object.region }}" />
                        <meta itemprop="region" content="Kyrgyzstan" />
                    </span>
                </div>
                {% endfor %}
            {% else %}
                {% for object in posts_list %}
                <div class="last_events_list_item_{% cycle 'left' 'right' %}{% if forloop.revcounter0 < 2 %} last_events_list_item_last{% endif %}" title="{{ object.title|escape }}">
                    <a href="{{ object.get_absolute_url }}#ml_ms" title="{{ object.title|escape }}">
                        <img class="img-thumbnail last_events_list_item_img" src="{{ object.get_title_photo.get_thumbnail_url }}" alt="{{html_title_category}} - {{ object.title|escape }}">
                    </a>
                    <div class="last_events_list_item_content">
                        <h2><a class="{{ category }}" href="{{ object.get_absolute_url }}#ml_ms" title="{{ object.title|escape }}">{{ object.title|truncatechars:50 }}</a></h2>
                        {% autoescape off %}
                            {{ object.short_description|truncatehtml:150 }}
                        {% endautoescape %}
                    </div>
                    <div class="read_more"><a class="{{ category }}" href="{{ object.get_absolute_url }}#ml_ms">{% if  object.event_start_date %}{{ object.event_start_date }}{% else %}More >>{% endif %}</a></div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
    Still empty...
    {% endif %}
</div>

{% block extrafooter%}
{% endblock %}
