{% extends 'blog/CategoryContent.html' %}
{% load projstatic from projectstatic %}
{% load static from staticfiles %}
{% block extra_meta %}
    <meta content="http://{{domain}}{{post_details.get_title_photo.get_shower_url}}" property="og:image"/>
    <meta name="thumbnail" content="http://{{domain}}{{post_details.get_title_photo.get_thumbnail_url}}" />
    <!-- <PageMap>
    <DataObject type="thumbnail">
        <Attribute name="src" value="http://{{domain}}{{post_details.get_title_photo.get_thumbnail_url}}"/>
        <Attribute name="width" value="{{post_details.get_title_photo.get_thumbnail_size.0}}"/>
        <Attribute name="height" value="{{post_details.get_title_photo.get_thumbnail_size.1}}"/>
    </DataObject>
    </PageMap> -->
{% endblock %}

{% block extrahead %}
    <!-- Add fancyBox -->
    <link rel="stylesheet" href="{% static "fancybox/source/jquery.fancybox.css" %}?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="{% static "fancybox/source/jquery.fancybox.pack.js" %}?v=2.1.5" ></script>
    <script src="{% projstatic "js/fancyboxInit.js" %}" charset="utf-8"></script>
{% endblock extrahead %}

{% block debug %}
{% endblock debug %}

{% block socbuttons %}
    <div class="socplug">
        <div class="google">
        <div class="g-plusone" data-size="medium"></div>
        <script type="text/javascript">
            window.___gcfg = {lang: 'en-GB'};
            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/platform.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>
        </div>

        <div class="facebook">
        <iframe id="facebookIframe" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2F{{ domain|urlencode:"" }}{{ post_details.get_absolute_url|urlencode:"" }}&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=1387862861473223" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="post_details_block">
    <div class="post_details_images">
        {% for photo in post_details.get_all_photos %}
        <div class="post_details_images_item{% if forloop.first %}FirstItem{% endif %}">
            <a class="fancybox" rel="group" href="{{ photo.get_shower_url }}">
                <img {% if forloop.first %}itemprop="image"{% endif %} class="img-thumbnail" alt="{{html_title_category}} - {{ post_details.title|escape }}" src="{{ photo.get_display_url }}"/>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="post_details_content">
        <h1>{{ post_details.title }}</h1>
        {% if post_details.event_start_date %}
        <div class="post_details_event_time">
            Beginning: <span>{{ post_details.event_start_date }}</span>
        </div>
        {% endif %}
        <div class="post_details_text">
        {% autoescape off %}
            {{ post_details.content }}
        {% endautoescape %}
        <i>
            <br>
            {% if post_details.get_address %}<br>Address: {{ post_details.get_address }}{% endif %}
            {% if post_details.email %}<br>E-mail: {{ post_details.email }}{% endif %}
            {% if post_details.phone %}<br>Contacts: {{ post_details.phone }}{% endif %}
            {% if post_details.additional_info %}<br>{{ post_details.additional_info|linebreaks  }}{% endif %}
        </i>
        </div>
    </div>
</div>
{% endblock content %}
