{% extends 'blog/base.html' %}

{% block search %}
<script>
  (function() {
    var cx = '002482764718694300650:bn9qjql-5pq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
{% endblock %}

{% block content %}
!!!!!
{% endblock %}

