body {
    padding:0;
    background-color: #F4F4F4;
    position: relative;
    outline: none;
    line-height: normal;
    font-family:trebuchet ms;
}

a {
    color:#333333;/* black */
    text-decoration:none;
    outline: none;
}

a:visited {
    color:#333333;outline: none;
}

a:hover {
    color:#ef7c00;/* orange */
    text-decoration:none;
    outline: none;
}

a:focus, a:active {
    color:#ef7c00;/* orange */
    text-decoration:none;
    outline: none;
}

h1, .h1 {
    font-size: 30px;
    float: left;
    padding-top: 0;
    position: relative;
    width: 100%;
    margin-top: 0px;
}

h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}

h2, .h2 {
    font-size: 14px;
    font-weight: bold;
}

h2, h5, h6 {
    margin-bottom: 0;
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    line-height: normal;
}

.note {
    color: #008000;
    padding: 10px;
    text-align: center;
}

.advertiser {
    font-size: 13px;

}

.advertiser p {
    text-indent: 20px;
}

.advertiser dd {
    background-color: #E8E8E8;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 5px 15px;
}

.advertiser dl {
    margin-bottom: 10px;
}

.advertiser h1 {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

.advertiser a {
    color:#ef7c00;/* orange */
}

.container {
    width: 870px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-right: 10px;
    padding-left: 10px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}
.logo, .logo2 {
    background-repeat:no-repeat;
    background-position: top left;
    margin:0;
    height:111px;
    width:308px;
    float: left;
}

.logo {
    background-image:url('/static/kgguide/imgs/w870/logo.png');
}
.logo2 {
    background-color:#e3000f; /*red*/
    width:562px;
    color:#ffffff; /* white */
    padding-top: 20px;
    padding-left: 15px;
}

.menu {
    background-color:#E8E8E8; /*gray*/
    margin:0;
    padding:5px;
    height:34px;
}

.menu_links {
    float:left;
    padding-left: 10px;
}

.menu_links a {
    padding-right:20px;
    font-size:20px;
}

.menu_search {
    float:right;
    margin-top: 2px;
    width: 370px;
    /*line-height: 25px;*/
    /*vertical-align: middle;*/
}

.menu_search input {
    /*height:26px;*/
    margin-right: 13px;
    border: 1px solid #A1A1A1;
    border-radius: 3px;
    vertical-align: middle;
}

#search_qs {
    width:415px;
}

#search_bt {
    height:27px;
    border: medium none;
}

.menu_navi_pad {
    margin: auto;
    display: inline-block;
    height: 86px;
    /*width: 75%;*/
    padding: 0 5px;
    vertical-align: middle;
    line-height: 90px;
    border-radius: 10px;
}

.highlight_navi {
    background-color: #E8E8E8; /* gray */
}

#highlight_navi_events #events {
    background-color: #E8E8E8; /* gray */
}

#highlight_navi_hotels #hotels{
    background-color: #E8E8E8; /* gray */
}

#highlight_navi_restaurants #restaurants {
    background-color: #E8E8E8; /* gray */
}

#highlight_navi_pubs #pubs {
    background-color: #E8E8E8; /* gray */
}

#highlight_navi_coffees #coffees {
    background-color: #E8E8E8; /* gray */
}

#highlight_navi_shops #shops {
    background-color: #E8E8E8; /* gray */
}

#highlight_navi_skis #skis {
    background-color: #E8E8E8; /* gray */
}

#highlight_navi_tours #tours {
    background-color: #E8E8E8; /* gray */
}

#highlight_navi_entertainments #entertainments {
    background-color: #E8E8E8; /* gray */
}

.menu_navi_2 {
    float: left;
}
.menu_navi {
    height:99px;
    text-align: center;
    line-height:99px;
}

.menu_navi_div {
    height:100%;
    background-image:url('/static/kgguide/imgs/w870/navisplitter.png');
    background-repeat:no-repeat;
    background-position: center right;
    float:left;
}

.menu_navi img {
    margin-top:-10px;
    outline: none;
}

.navi_1 {
    width:74px;
}

.navi_2 {
    width:80px;
}

.navi_3 {
    width:108px;
}

.navi_4 {
    width:70px;
}

.navi_5 {
    width:115px;
}

.navi_6 {
    width:128px;
}

.navi_7 {
    width:76px;
}

.navi_8 {
    width:92px;
}

.navi_9 {
    width:116px;
    background-image: none;
}

.adverb {
    width:192px;
    float:right;
    padding-left:0px;
    padding-top: 5px;
}

.adverb div {
    padding-bottom:5px;
}

.content {
    width:677px;
    float:left;
    padding-top: 5px;
}

.carousel-indicators-switcher {
    display:none;
}

.tab-content {
    background: none repeat scroll 0 0 #E8E8E8;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    display: block;
    float: left;
    padding: 5px;
    width: 100%;
}

.nav-tabs {
    border-bottom: none;
}

.nav {
    padding: 0.2em 0.2em 0;
}

.nav .li_active {
    padding-bottom: 1px;
    margin-bottom: -1px;
    position: relative;
    background: none repeat scroll 0 0 #E8E8E8;
}

.nav > li {
    border: 1px solid #CCCCCC;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-width: 0;
    float: left;
    list-style: none outside none;
    margin: 1px 0.2em 0 0;
    padding: 0;
    position: relative;
    top: 0;
    white-space: nowrap;
    font-weight: bold;
}

.nav > li > a {
    float: left;
    padding: 2px 6px;
    text-decoration: none;
    line-height: normal;
    margin: 0px;
    border: none;
}

.carousel_block
{
    margin-bottom: 5px;
}

.last_events_content {
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    margin-bottom: 5px;
    float: left;
    position: relative;
    width: 100%;
}

.category_title h1, .category_title_big h1 {
    /*color:#ef7c00; /* orange */
    padding-left: 5px;
    margin-bottom: 5px;
    width: 300px;
}

.category_title_big h1 {
    width: 450px;
}

.category_title h1 a {
    color:#ef7c00; /* orange */
    text-decoration: underline;
}

.category_title h1 a:hover {
    color:inherit; /*will inherite wrom .category_title h1 which is empty*/
}

.last_events_content a:hover {
    text-decoration: underline;
}

.last_events_list_item_left, .last_events_list_item_right {
    float:left;
    /*width:47%;*/
    height: 138px;
    width: 305px;
    border-bottom: 2px solid;
    border-bottom-color:#c5c6c6; /* gray */
    border-radius:3px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.last_events_list_item_right {
    float:right;
}

.last_events_list_item_last {
    border: none;
}

.last_events_list_item_content {
    float: left;
    width: 160px;
    word-wrap: break-word;
    margin-left: 5px;
    overflow: hidden;
    height: 108px;
}

.last_events_list_item_content h2 {
    padding:0px;
    /*margin-bottom: 3px;*/
    color: #ef7c00; /* orange */
}

.last_events_list_item_content a {
    color:#ef7c00; /* orange */
}
.last_events_list_item_img {
    float:left;
    /*padding-right: 15px;*/
}

.read_more {
    bottom: 10px;
    float: right;
    position: absolute;
    right: 0;
}

.read_more a {
    font-size:14px;
    text-decoration: underline;
    color:#ef7c00; /* orange */
}

.category_regions_list {
    background: #E8E8E8;
    border-radius: 5px;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    width: 100%;
}

.category_regions_list h5 a:hover {
    text-decoration: underline;
}

.regions_list_links {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url('/static/kgguide/imgs/w870/splitter.png');
    background-repeat:no-repeat;
    background-position: center right;
}

.regions_list_links_last {
    background-image: none;
}

.events {
    /*font-size:26px;*/
    color:#52a6b2 !important;
}

.hotels {
    /*font-size:26px;*/
    color:#a61380 !important;
}

.restaurants {
    /*font-size:26px;*/
    color:#ef7c00 !important;
}

.pubs {
    /*font-size:26px;*/
    color:#e3000f !important;
}

.coffees {
    /*font-size:26px;*/
    color:#a65a44 !important;
}

.shops {
    /*font-size:26px;*/
    color:/*#afca05*/#9cb501 !important;
}

.skis {
    /*font-size:26px;*/
    color:#008bd2 !important;
}

.tours {
    /*font-size:26px;*/
    color:#f08481 !important;
}

.entertainments {
    /*font-size:26px;*/
    color:#134094 !important;
}

.post_details_block {
    float: left;
    width: 100%;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    margin-bottom: 5px;
}

.post_details_images {
    float: left;
    width: 193px;/*228px;*/
}

.post_details_images_itemFirstItem {
    margin-top:0px;
}

.post_details_images_item {
    margin-top:5px;
}

.post_details_content {
    float: left;
    padding-left: 5px;
    width: 465px;/*498px;*/
}

.post_details_content h1 {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

.post_details_text
{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;
    background-color:#E8E8E8;
    border-radius:5px;
    padding:5px;
    margin-bottom: 10px;
}

.post_details_event_time span {
    color: #008000;
}

.post_details_event_time {
    float: left;
    position: relative;
    width: 100%;
}

.footer {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    float: left;
    width: 100%;
}


.socplug, .socplug_main_page {
    float: left;
    margin-bottom: 5px;
    width: 100%;
}

.socplug_main_page {
    margin-bottom: -30px;
    margin-top: 5px;
}

#facebookIframe {
    width: 200px;
}

.facebook {
    float: right;
}

.copyr {
    float: left;
    margin-left: 10px;
    position: relative;
}

.mailto {
    float: right;
    margin-right: 10px;
    position: relative;
}

table.gsc-search-box, form.gsc-search-box {
    margin: 0 !important;
}

.google {
    float: right;
}
#___plusone_0 {
    width: 60px !important;
}

.cse .gsc-control-cse, .gsc-control-cse {
    background-color: inherit !important;
    border: none !important;
}

.cse .gsc-control-cse, .gsc-control-cse {
    padding: 0 !important;
}

input.gsc-input {
    width: 255px !important;
}
